useDynLib(schnellerGP, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(Matrix)

export()
export(add_diag)
export(cholesky_hmatrix)
export(convert_h2_to_h_matrix)
export(create_h2_kernel)
export(getSymmetricFactor)
export(get_h2_idx)
export(get_n_levels)
export(log_sqrt_determinant_hmatrix)
export(matmatProduct)
export(multiply_h2_stdnorm)
export(multiply_h2_vector)
export(multiply_hmat_vec)
export(read_h_matrix)
export(save_h2_matrix)
export(save_h_matrix)
export(setup_compressedMatrixGP_Matern)
export(setup_compressedMatrixGP_MaternP1)
export(setup_compressedMatrixGP_Matern_tP)
export(setup_compressedMatrixGP_sqrExp)
export(setup_compressedMatrixGP_sqrExpP1)
export(simulate_compressedMatrixGP)
export(simulate_compressedMatrixGP_TP)
export(solve_HODLR)
export(solve_h2_vector)
export(solve_h2_vector_start)
export(solve_hmatrix)
