useDynLib(schnellerGP, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(Matrix)

export()
export(setup_compressedMatrixGP_Matern)
export(setup_compressedMatrixGP_MaternP1)
export(setup_compressedMatrixGP_Matern_tP)
export(setup_compressedMatrixGP_sqrExp)
export(setup_compressedMatrixGP_sqrExpP1)
export(simulate_compressedMatrixGP)
export(simulate_compressedMatrixGP_TP)
export(solve_HODLR)
export(HODLR_TP_sample)
export(HODLR_TP_sample_ls)
export(HODLR_TP_sample_scale)

